{% extends "templates/base.html" %}

{% block main_content %}
	<section class="wrapper">
		<div class="header-banner">
			<h3>About Us</h3>
		</div>

		<div class="container">
			<ul class="breadcrumbs">
				<li><a href="/">Home</a></li>
				<li>></li>
				<li>About Us</li>
			</ul>
		</div>
	</section>

	<div class="info-section">
		<div class="container">
			<h4>FX LEGACY</h4>
			
			<div class="side-img">
				<img src="../static/images/img.jpg">
			</div>

			<div class="side-text">
				<p>FX Legacy is a company that aims to empower people financially. Our company aims to produce profitable forex traders. We provide support that makes sure our clients make profit. Our company ensures success to our students by letting them Leverage off our Expect trader’s experience.</p>
			</div>
		</div>
	</div>

	<div class="container-card">
		<div class="card-panel">
			<div class="content">
				<h3>Copy Trade</h3>
				<p>FX Legacy automated trading</p>
				<p>Start coping our experienced traders now.</p>
			</div>

			<div class="cta">
				<a href="/services/copy-trading" class="btn-primary outline">Register</a>
			</div>
		</div>
	</div>

{% endblock %}