<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FX Legacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="FX Legacy Forex Trading Simplified Website ">
    <meta name="keywords" content="FX Legacy, FX, Forex Trading, Money Trading, Copy Trade, forex seminars, forex training, legacy, fx biz, fx forex" />
    <meta name="author" content="FX Legacy">

    <meta property="og:title" content="FX Legacy Forex Trading Simplified" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.fxlegacy.biz" />
    <meta property="og:image" content="https://www.fxlegacy.biz/images/fx-banner.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="222" />
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://use.fontawesome.com/8b136872c7.js"></script>
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="canonical" href="https://www.fxlegacy.biz" />
</head>

<body>
    <section class="wrapper">
        <!-- Header -->
        <header >
            <div class="header-fixed">
                <div class="container-fluid">
                    
                    <div class="header-profile">
                        <div class="header-profile__shopping-bag">
                            <div class="header-profile__shopping-bag-text">
                                <a id="cart" href="#">
                                    <span class="header-profile__shopping-bag-count">
                                        <span class="item-text">Register Now</span>                     
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="shopping-cart">
                          <div class="shopping-cart__header">
                            <h2>Register Now!</h2>

                            <span class="shopping-cart__close">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                          </div>

                          <ul class="shopping-cart__items">
                            <li class="shopping-cart__product-item">
                              <img class="product-image" src="../static/images/thumb-3.jpg" alt="Copy Trade" />
                              <div class="product-desc">
                                <span class="item-name"><a href="/services/copy-trading">Copy Trading</a></span>
                                <a class="register-link" href="/services/copy-trading">Subscribe Now</a>
                              </div>
                            </li>

                            <li class="shopping-cart__product-item">
                              <img class="product-image" src="../static/images/thumb-1.jpg" alt="Forex Training" />
                              <div class="product-desc">
                                <span class="item-name"><a href="/services/forex-training">Forex Training</a></span>
                                <a class="register-link" href="/services/forex-training">Register Now</a>
                              </div>
                            </li>

                            <li class="shopping-cart__product-item">
                              <img class="product-image" src="../static/images/thumb-2.jpg" alt="Forex Seminars" />
                              <div class="product-desc">
                                <span class="item-name"><a href="/services/forex-seminar">Forex Seminars</a></span>
                                <a class="register-link" href="/services/forex-seminar">Book a Seat</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                    </div>
                    <div class="header-details">
                        <p class="header-details_slogan">The simplest way to trade Forex.</p>
                        <p class="header-details_contacts"><a href="tel:0720921135">Tel: 072 092 1135</a></p>
                        <p class="header-details_contacts"><a href="mailto:info@fxlegacy.biz">info@fxlegacy.biz</a></p>
                    </div>
                </div>
            </div>
        </header>

        <!-- Nav -->
        <div class="header">
            <div class="container-fluid">
                <div class="header__logo">
                    <a class="site-logo" href="/">
                        <img src="../static/images/fx-legacy-logo.jpg" alt="FX Legacy Logo">
                    </a>
                </div>

                <nav class="header__nav">
                    <a class="header__nav-menu-icon" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    <div class="content-overlay">
                    <ul class="header__nav-items">
                        <li class="header__nav-item">
                            <a class="header__nav-item-link" href="/">
                                Home
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-item-link" href="/about-us">
                                About us
                            </a>
                        </li>
                        <li class="header__nav-item dropdown">
                            <a class="header__nav-item-link show-md" href="/services">Services</a>
                            <a class="header__nav-item-link show-sm" href="#">Services</a>
                            <div class="header__nav-sub-menu">
                                <ul class="sub-menu">
                                    <li><a href="/services/copy-trading">Copy Trade</a></li>
                                    <li><a href="/services/forex-training">Forex Training</a></li>
                                    <li><a href="/services/forex-seminar">Forex Seminars</a></li>
                                </ul>

                                <!-- <a href="#"><img class="banner-slot" src="images/autumn-sale-banner.jpg" alt="Sale over here">
                                </a> -->
                            </div>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-item-link" href="/packages">
                                Packages
                            </a>
                        </li>
                        <li class="header__nav-item dropdown">
                            <a class="header__nav-item-link" >Legal</a>
                            <div class="header__nav-sub-menu">
                                <ul class="sub-menu">
                                    <li><a href="/legal/terms-and-conditions">Terms & Conditions</a></li>
                                    <li><a href="/legal/risk-warning">Risk Warning</a></li>
                                    <li><a href="/legal/privacy-policy">Privacy Policy</a></li>
                                </ul>

                                <!-- <a href="#"><img class="banner-slot" src="images/autumn-sale-banner2.jpg" alt="Sale over here">
                                </a> -->
                            </div>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-item-link" href="/contact-us">
                                Contact
                            </a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>

    <main> 
        <section class="app">
            {% block main_content %}{% endblock %}        
        </section>
    </main>

    <div class="social-strip">
        <div class="container">
            <div class="col-50">
                <p>Get in touch with us</p>
            </div>
            <div class="col-50">
                <ul class="text-right">
                    <li><a href="https://www.facebook.com/FX-Legacy-183230109063653/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/FX_Legacy_Biz" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/FXLegacy.biz" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p class="copyright">© Copyright 2018 - FX Legacy - All rights reserved.</p>

            <ul class="footer-menu">
                <li><a href="/legal/terms-and-conditions">Terms & Conditions</a></li>
                <li><a href="/legal/risk-warning">Risk Warning</a></li>
                <li><a href="/legal/privacy-policy">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../static/js/scripts.js"></script>
    <script src="../static/js/main.js">
    </script>

</body>

</html>