{% extends "templates/base.html" %}

{% block main_content %}
	<section class="wrapper">
		<div class="header-banner">
			<h3>Packages</h3>
		</div>

		<div class="container">
			<ul class="breadcrumbs">
				<li><a href="/">Home</a></li>
				<li>></li>
				<li>Packages</li>
			</ul>
		</div>
	</section>

	<div class="container">
		<h4 class="underline">Our <span>Packages</span></h4>
		<div class="col-100">
			<div class="whole">
				<div class="plan-type">
					<p>Account Opened with Our Recommended Broker</p>
					</div>
				<div class="plan">

					<div class="plan-header">
						<span>R</span>1500
						<p class="month">per month</p>
					</div>
					<div class="content">
						<ul class="plan-details">
							<li>Your balance minimum need 1000 USD</li>
							<li>Enjoy sophisticated risk management systems</li>
							<li>Save time and effort</li>
							<li>
								<a href="/services/copy-trading" class="btn-primary medium" type="submit">Register</a>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-card">
		<div class="card-panel">
			<div class="content">
				<h3>Copy Trade</h3>
				<p>FX Legacy automated trading</p>
				<p>Start coping our experienced traders now.</p>
			</div>

			<div class="cta">
				<a href="/services/copy-trading" class="btn-primary outline">Register</a>
			</div>
		</div>
	</div>
{% endblock %}