{% extends "templates/base.html" %}

{% block main_content %}
	<div id="loginRegisterBox" class="modal">
	  
	  <div class="form-container">
	    <span id="modalClose" title="Close Modal">
	      <i class="fa fa-times" aria-hidden="true"></i>
	    </span>
	    
	    <!-- Login Form -->
	    <div id="loginFieldset" class="modal-content">
	      <div class="modal-header">
	        <img src="../static/images/fx-banner.jpg">
	      </div>

	      <div id="loginForm" class="user-form">
	        <h2>FX Legacy automated trading</h2>
	        <p>Forex trading simplified</p>

	        <p class="modal-wording">Start coping our experienced traders now.</p>
	        <a href="/services/copy-trading" class="btn-primary" type="submit">Register</a>
	      </div>
	    </div>

	  </div>
	</div>

	<div class="hero-slider">
		<div>
			<img src="../static/images/slider-1.jpg">
			<div class="slider-details">
				<h2 class="slider-title"><i class="fa fa-cogs"></i> Copy Trade</h2>
				<a href="/services/copy-trading">Subscribe Now</a>
			</div>
		</div>
		<div>
			<img src="../static/images/slider-2.jpg">
			<div class="slider-details">
				<h2 class="slider-title"><i class="fa fa-usd"></i> Forex Training</h2>
				<a href="/services/forex-training">Register Now</a>
			</div>
		</div>
		<div>
			<img src="../static/images/slider-3.jpg">
			<div class="slider-details">
				<h2 class="slider-title"><i class="fa fa-comments"></i> Forex Seminars</h2>
				<a href="/services/forex-seminar">Book a seat</a>
			</div>
		</div>
	</div>

	<div class="container-intro">
		<h1 class="text-center">Welcome to 
			<span>FX Legacy</span></h1>

		<p>FX Legacy is a Forex Trading Training Institution, To help individuals to reach their financial goals through our Mentorship Program and Support Systems. We pride ourselves in ensuring that we create as many successful traders and entrepreneurs from various age groups.</p>
	</div>

	<div class="container-card">
		<div class="card">
			<span class="card-content">
				<h2>Our Free Seminars</h2>
				<p>We host periodic seminars and presentations that offer new traders and prospects an opportunity to take a closer look at our offering. Our latest service is the ability to shadow or mirror the world’s most successful traders whilst still learning how to trade.</p>

				<a href="/services/forex-seminar" class="btn-primary outline">Register</a>
			</span>
			<span class="card-img">
				<img src="../static/images/seminars.jpg">
			</span>
		</div>
	</div>
	
	<div class="container-card">
		<div class="card-panel">
			<div class="content">
				<h3>Copy Trade</h3>
				<p>FX Legacy automated trading</p>
				<p>Start coping our experienced traders now.</p>
			</div>

			<div class="cta">
				<a href="/services/copy-trading" class="btn-primary outline">Register</a>
			</div>
		</div>
	</div>
{% endblock %}